@import '../color'


// ---------------- Delivery -----------------------------
.field 
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
  border: 1px solid #2d293f;

label, input, textarea 
  transition: all 0.2s;
  touch-action: manipulation;
  resize: none
  &:focus
    outline: 0

label 
  padding: 10px 10px 0
  font-size: 0.875rem

.delivery__input 
  font-size: 1.3em;
  font-weight: 700
  border: 0;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0 5px 10px 10px;
  cursor: text;

.delivery__input:placeholder-shown + label
  cursor: text;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 1.2rem) scale(1.5);

::-webkit-input-placeholder 
  opacity: 0;
  transition: inherit;

.delivery__input:focus::-webkit-input-placeholder
  opacity: 1;

.delivery__input:not(:placeholder-shown) + label,
.delivery__input:focus + label
  transform: translate(0, 0) scale(1);
  cursor: text;

.delivery__input::-webkit-outer-spin-button,
.delivery__input::-webkit-inner-spin-button 
  -webkit-appearance: none;
  margin: 0;


.delivery__input[type=number] 
  -moz-appearance: textfield;


.delivery__input:-webkit-autofill,
.delivery__input:-webkit-autofill:hover, 
.delivery__input:-webkit-autofill:focus, 
.delivery__input:-webkit-autofill:active  
    -webkit-box-shadow: 0 0 0 30px white inset !important;

// ----------------- Summary -------------------------------

.summary
    flex(column, space-between)
    align-items: stretch
    margin-left: 20px;
    border-left: 1px solid primary-orange;
    padding: 0 20px;
    height: 600px

    &__heading
        color: primary-green

    &__header__list
        padding: 5px 0 

    &__footer__list, &__total
        flex(row, space-between)
        margin: 1.4rem 0
        align-items: stretch

    &__price
        font-size 18pt
        color: primary-orange

    &__button
        buttons(primary-orange)


.shipment__title--orange,
.payment__title--orange
    color: primary-orange

.shipment-methods__list,
.payment-methods__list
    padding: 0
    list-style : none
    display: inline-flex
    flex-wrap: wrap
    flex-direction: row
    justify-content: flex-start
    text-align: left
    cursors(pointer)   
    
    &-child
        display: flex
        flex-direction: column 
        justify-content: center
        border-radius: 5px
        margin: 5px
        padding: 15px
        width: 140px;
        height 25px
        border: 2px solid black
        cursors(pointer, primary-green, light-green)

    &-text
        padding-top: 2px

.active-list 
    box-border-color(primary-green, light-green)
    font-weight: 600
    &:after 
        content: '✔'
        color: primary-green
        margin-right: 5px
        position: absolute
        width: inherit
        display: flex
        justify-content: flex-end

.error 
    box-border-color(primary-orange, light-orange)
    &:after 
        content: '✕'
        color: primary-orange
        margin-right: 5px
        position: absolute
        width: inherit
        display: flex
        justify-content: flex-end


.finish
    flex(column);
    height :100%
    justify-content: center

    &__container
        flex(column, space-around)
        align-items: stretch
        height : 220px
        padding-bottom: 80px
   