@import '/path/to/reset-css/reset.css';
@import 'color';
@import 'pages/*';

// -------------------------------------------------------------------------------//
//                                   HTML
// -------------------------------------------------------------------------------//

*
  font-size: 11pt
  color: #2d293f
  &:focus
    outline: none

body
    font: 12px Helvetica, Arial, sans-serif
    background: light-orange
    height: 100%

h1
  title(23pt)

h2
  title(18pt)

.container
    box-shadows(-3px 5px 22px rgba(#ff8a00, 0.2))
    border-radius(10px)
    padding: 25px
    margin: 55px auto
    background: white
    max-width: 70vw
  
.flex__row--space-between
    flex(row, space-between)

.payment-process
    width: 100%
    display: block
    position: absolute
    left 0;
    font-size: 12px
    font-weight: 700
    color: primary-orange
    top: 15px;

    &__menu
      flex(row, space-evenly)
      border-radius(2rem)
      margin: auto
      width: 450px;
      line-height: 70px
      background: light-orange
      padding: 0
      list-style :none
    
    &__list, span.round
      display: flex
      align-items: center
      justify-content: center
      color: primary-orange

    &__icon
      color: primary-orange

.round
    border-radius:50%;
    width:25px;
    height:25px;
    display:inline-block;
    border:none;
    background: medium-orange;
    margin-right:10px;   

.active, 
    color: white !important
    background: primary-orange !important

.bold, b
    font-weight: 700
    color: black 

//Grid
.grid-2
    grid(2, 1fr)
    grid-gap: 0px 25px

.grid-2__custom
    display: grid;
    grid-template-columns: 1.35fr 0.65fr;
    grid-template-rows: 1fr;
    gap: 15px;
    grid-template-areas: ". .";
    height: 90%;

a
  cursor: pointer;
  &:hover 
    outline: none

.field 
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
  border: 1px solid #2d293f;


label, input, textarea 
  transition: all 0.2s;
  touch-action: manipulation;
  resize: none
  &:focus
    outline: 0


.delivery__input 
  font-size: 1.5em;
  border: 0;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0 5px 10px 10px;
  cursor: text;

label 
  padding: 10px 10px 0
  font-size: 0.875rem

// input:placeholder-shown + label,
.delivery__input:placeholder-shown + label,
  cursor: text;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 1.2rem) scale(1.5);

::-webkit-input-placeholder 
  opacity: 0;
  transition: inherit;

// input:focus::-webkit-input-placeholder,
.delivery__input:focus::-webkit-input-placeholder,
  opacity: 1;

// input:not(:placeholder-shown) + label,
// input:focus + label,
.delivery__input:not(:placeholder-shown) + label,
.delivery__input:focus + label,
  transform: translate(0, 0) scale(1);
  cursor: pointer;

.delivery__input::-webkit-outer-spin-button,
.delivery__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.delivery__input[type=number] {
  -moz-appearance: textfield;
}