@import '/path/to/reset-css/reset.css';
@import 'color';
@import 'pages/*';

// -------------------------------------------------------------------------------//
//                                   HTML
// -------------------------------------------------------------------------------//

*
  font-size: 11pt
  &:focus
    outline: none

body
    font: 12px Helvetica, Arial, sans-serif
    background: light-orange
    height: 100%

h1
  title(23pt)

h2
  title(18pt)

.container
    box-shadows(-3px 5px 22px rgba(#ff8a00, 0.2))
    border-radius(10px)
    padding: 25px
    margin: 55px auto
    background: white
    max-width: 70vw
  
.flex__row--space-between
    flex(row, space-between)

.payment-process-step
    width: 100%
    display: block
    position: absolute
    left 0;
    font-size: 12px
    font-weight: 700
    color: primary-orange
    top: 15px;
    ul
      flex(row, space-evenly)
      border-radius(2rem)
      margin: auto
      width: 450px;
      line-height: 70px
      background: light-orange
      padding: 0
      list-style :none
      li, span.round
        display: flex
        align-items: center
        justify-content: center
        color: primary-orange

.round
    border-radius:50%;
    width:25px;
    height:25px;
    display:inline-block;
    border:none;
    background: medium-orange;
    margin-right:10px;   

.active, 
.btn-orange
    color: white !important
    background: primary-orange !important

.bold 
    font-weight: 700 
//TITLE
// .title

// .title__text

// .title__checkbox--center


//Grid
.grid-2
    grid(2, 1fr)
    grid-gap: 0px 25px

.grid-2__custom
    display: grid;
    grid-template-columns: 1.35fr 0.65fr;
    grid-template-rows: 1fr;
    gap: 15px;
    grid-template-areas: ". .";
    height: 90%;

//INPUT
.field 
  display: flex;
  flex-flow: column-reverse;

input, textarea
  transition: all 0.2s;
  touch-action: manipulation;
  padding: 10px
  margin: 10px 0
  resize: none

a
  cursor: pointer;
  &:hover 
    outline: none

// .delivery-form__input
//   border: 1px solid light-grey;
//   font-size: 1.5em;
//   font-family: inherit;
//   -webkit-appearance: none;
//   border-radius: 0;
//   position: relative;
//   padding: 0.875rem 1rem 0.5rem 0.875rem;
//   cursor: text;
//   &:focus
//     outline: none

// input:focus 
//   outline: 0;
//   border-bottom: 1px solid #666;


// input:placeholder-shown + label 
//   cursor: text;
//   // max-width: 66.66%;
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   transform-origin: left bottom;
//   transform: translate(0.5rem, 2rem) scale(1.5);

// ::-webkit-input-placeholder 
//   opacity: 0;
//   transition: inherit;

// input:focus::-webkit-input-placeholder 
//   opacity: 1;

// input:not(:placeholder-shown) + label,
// input:focus + label 
//   transform: translate(0.875rem , 1rem) scale(1);
//   cursor: pointer;
//   color: green

// input:not(:placeholder-shown)
//   border: 1px solid green